/*.active {
    border-bottom: 2px solid #EE0033;
}
*/

@font-face {
    font-family: "Sanfra-bold";
    src: url("./fonts/SanFranciscoTextBoldG3.otf")
}

@font-face {
    font-family: "Sanfra-regular";
    src: url("./fonts/SanFranciscoTextRegularG1.otf")
}

@font-face {
    font-family: "SVN";
    src: url("./fonts/Alyamore.otf")
}

.menu-header .menu li a {
    padding: 10px 0;
}

.banner {
    height: 12.9vw;
}

.banner-color {
    height: 100%;
}


    .banner-color a{
        font-weight: bold;
        font-size: 16px;
        line-height: 140.5%;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
    }

.banner-color {
    padding: 30px 0 35px 0;
    /*display: flex;
    align-items: flex-end;*/
}

    .banner-color .img-spansitemap:last-child {
        display: none;
    }

    .banner-color a{
        width: fit-content;
        margin: 0;
    }

.img-spansitemap img {
    margin: 0 10px 0px 10px;
    height: 14px;
}


.service-nav {
    background-color: #F2F2F2;
    height: fit-content;
    margin-bottom: 60px;
    width: 100%;
}

    .service-nav ul {
        display: flex;
        justify-content: space-around;
        text-align: center;
        justify-content: space-around;
    }

        .service-nav ul li {
            list-style: none;
            padding: 12.87px 1.17vw;
            max-width: unset;
            margin: auto;
            display: inline-block;
        }

            .service-nav ul li a {
                color: #000000;
                text-decoration: none;
                font-family: FS PF BeauSans Pro;
                font-size: 18px;
                font-weight: 300;
                padding: 10px 0;
            }

.service-header {
    margin: 50px 0 20px 0;
}
.service-design-item div h3 {
    font-family: Sarabun; 
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 5px;
}

.pagination ul li {
    font-family: Sanfra-regular;
}

.service-header span {
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    text-transform: uppercase;
    color: #EE0033;
    border-bottom: 2px solid #EE0033;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.design-item-content {
    text-align: justify;
    margin-bottom: 20px;
}

.square {
    width: 19px;
    height: 19px;
    background-color: #EE0033;
    margin-right: 19.8px;
}

.service-construction-img {
    width: 100%;
    max-width: 100%;
}

.service-design {
    margin-top: 44.55px;
}

.service-design-item {
    cursor: pointer;
}
.service-content .service-design-item {
    aspect-ratio: 310/256;
}

.service-design-item img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#project .service-design-item img{
    height: auto;
}

.service-content ul {
    margin-left: 20px;
}

.design-item {
    height: fit-content;
    position: relative;
    padding: 0 7.5px 15px 7.5px;
    aspect-ratio: 623/390;
}

#design-category .design-item:nth-child(2n) {
    padding-right: 0px;
}

.design-item img {
    width: 100%;
    height: 100%;
}

.design-item h3 {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    color: #fff;
    bottom: 10%;
    width: calc(100% - 15px);
    text-align: center;
    font-family: Sarabun;
    padding: 0 10px;
}

#design-item {
    width: 100%;
    font-family: Sarabun;
}

.slick-dots {
    display: none !important;
}

.service-content {
    font-family: Sarabun;
}

div.k-window {
    position: fixed !important;
    width: calc(100vw - 80px) !important;
    height: calc(100vh - 80px) !important;
    top: 40px !important;
    left: 40px !important;
}

#home {
    font-family: Arial;
}

.k-window-titlebar.k-header {
    border-bottom: unset;
}

.design-item-content .header h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    text-transform: uppercase;
    color: #000000;
    margin: 24.75px 0;
}

.design-item-content .descreption {
    font-weight: bold;
    font-size: 22px;
    line-height: 140.5%;
    text-align: justify;
    color: #444940;
    margin: 7.92px 0;
}

.design-item-content .content {
    font-weight: normal;
    font-size: 18px;
    line-height: 140.5%;
    text-align: justify;
    color: #000000;
    margin: 51.48px 0;
}


.multiple-img img {
    height: 100%;
    padding: 17px 10px;
}

.multiple-img .slick-slide {
    opacity: 0.5;
}

    .multiple-img .slick-slide.slick-center {
        opacity: 1
    }

#item-modal .modal-dialog {
    max-width: unset !important;
}

.banner-home .banner-color {
    display: block !important
}

.service-design .service-design-item:nth-child(4n+1) {
    /* padding-left: 0px; */
}

.service-design .service-design-item:nth-child(4n) {
    /* padding-right: 0px; */
}

.pagination ul li {
    border: 1px solid #B5B4B4;
    padding: 5px 15px;
    display: inline-block;
    margin: 0 5px;
}

.pagination ul {
    margin: auto;
    margin-top: 30px;
}

    .pagination ul li.active {
        border: 1px solid black;
    }

.pagination a {
    color: #B5B4B4;
}

.active.previous {
    display: none;
}

.active.next {
    display: none;
}

.multiple-img {
    width: 40%;
    margin: auto;
}

.design-item-img .slider-nav {
    width: 90%;
    margin: auto;
    overflow: hidden
}

.multiple-img .slick-list {
    overflow: unset;
}

.multiple-img .slick-next {
    right: -75%;
}

.multiple-img .slick-prev {
    left: -75%;
}



.k-state-hover .k-window-actions {
    background-color: unset !important;
    border: unset !important;
}

.design-item-img {
    margin-right: 5%;
}

.service-design h3 {
    font-size: 19px;
    font-weight: 700;
    text-align: left;
}

.service-design p {
    font-size: 18px;
    font-family: Sarabun;
    font-weight: 400;
    text-align: center;
}

#project .service-design-item img {
    margin: 0;
}

#project .service-design-item {
    box-shadow: 0px 4px 20px 3px rgba(218, 0, 38, 0.05);
}

#project .service-design-item {
    padding: 0px;
    margin: 7.5px 15px;
    margin-right: 0px;
}

#project .service-design .col-lg-3 {
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 calc(33.33333333% - 20px);
    max-width: calc(33.3333333% - 20px);
}


#project .service-design-item > div {
    padding: 10px;
    background: white;
}

.single-img img {
    object-fit: contain;
}

.multiple-img img {
    object-fit: cover;
}
/*REPONSIVE*/
@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1600px) {
    /*.service-nav ul {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }*/

        .service-nav ul li {
            list-style: none;
            max-width: 20%;
            margin: auto 0;
        }

    #project .service-design .col-lg-3 {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

.contact-header a {
    text-decoration: none;
}
/** CSS COMBOBOX*/
.construction-quote .k-combobox, .construction-quote .k-dropdown {
    width: 100% !important;
}

    .construction-quote .k-combobox .k-dropdown-wrap, .construction-quote .k-dropdown .k-dropdown-wrap {
        height: 52px !important;
        border-color: #767676;
    }

    .construction-quote .k-combobox span input, .construction-quote .k-dropdown .k-input, .construction-quote .k-select {
        height: 100%;
        font-family: Sarabun;
        /*= height: 52px !important; padding 4 => 52-4*/
        line-height: 48px;
    }

.construction-quote .k-icon {
    background-position: center;
    background-size: 100%;
    background-image: url('../images/icon/i-dropdown.png') !important;
}

.construction-quote .k-select {
    border: none;
    padding-right: 10px;
}

.construction-quote .k-state-hover, .construction-quote .k-state-focus, .construction-quote .k-state-focused, .construction-quote .k-state-active {
    background-color: transparent !important;
}

    .construction-quote .k-state-hover .k-input {
        color: #000000;
    }

#project span.k-select {
    padding-top: 7px;
}

.k-icon.k-i-close {
    width: 25px !important;
    background-image: url(../images/x.png) !important;
    color: transparent;
    height: 25px !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center !important;
    top: -10px !important;
    position: absolute !important;
    right: -18px !important;
}

.k-window-actions .k-state-hover:hover {
    background-color: transparent;
    border-color: transparent;
}

.talk-content p, .talk-content span {
    color: #000 !important;
    font-family: Sarabun !important;
    font-size: 16px !important;
}

    .talk-content p, .talk-content p span {
        height: 140px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        text-align: center;
        font-family: Sarabun !important;
    }

.slick-track {
    display: flex;
}

.nav-tabs .active {
    border-bottom: 2px solid #EE0033;
}
/*REPONSIVE*/
@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1600px) {
    /*.service-nav ul {
        display: flex;
        text-align: center;
    }*/

        .service-nav ul li {
            list-style: none;
            max-width: 20%;
            margin: auto 0;
        }

    #project .service-design .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 calc(25% - 15px);
        max-width: calc(25% - 15px);
    }
}

span.k-dropdown-wrap.k-state-default {
    padding-left: 15px;
}

@media only screen and (max-width: 1600px) {
    /*    .service-design .service-design-item:nth-child(4n+1) {
        padding-left: 15px;
    }

    .service-design .service-design-item:nth-child(4n) {
        padding-right: 15px;
    }

    .service-design .service-design-item:nth-child(3n+1) {
        padding-left: 0px;
    }

    .service-design .service-design-item:nth-child(3n) {
        padding-right: 0px;
    }*/
    .multiple-img {
        width: 60%;
        margin: auto;
    }

    .banner-color {
        padding: 15px 0 15px 0;
    }

    #project .service-design .col-lg-3 {
        -ms-flex: 0 0 33.33333333%;
        flex: 0 0 calc(33.33333333% - 15px);
        max-width: calc(33.3333333% - 15px);
    }
}

@media only screen and (max-width: 1200px) {
    .banner-color a {
        font-size: 16px;
    }

    .service-nav ul {
        margin: auto;
        display: none;
        width: fit-content;
    }

        .service-nav ul li {
            display: block;
            width: fit-content;
        }

    .banner-color {
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container.sitemap {
        padding-left: 15px !important;
    }

    #project .service-design-item:nth-child(3n+1) {
        margin-left: 0px;
    }

    #project .service-design .col-lg-3 {
        flex: 0 0 calc(33.33333333% - 10px);
        max-width: calc(33.3333333% - 10px);
    }
}

@media only screen and (max-width: 991px) {
    .service-design .service-design-item:nth-child(4n+1) {
        /* padding-left: 15px; */
    }


    .service-design .service-design-item:nth-child(3n+1) {
        /* padding-left: 0px; */
    }

    .service-design .service-design-item:nth-child(3n) {
        /* padding-right: 0px; */
    }
}

@media only screen and (max-width: 767px) {
    #design-category .design-item {
        display: inline-block;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .banner {
        height: 15vw;
    }

    #project .service-design .col-md-4 {
        -ms-flex: 0 0 calc(33.333333% - 20px);
        flex: 0 0 calc(33.333333% - 20px);
        max-width: calc(33.333333% - 20px);
    }

    .multiple-img {
        width: 100%;
        margin: auto;
    }

    .service-design .service-design-item:nth-child(3n+1) {
        /* padding-left: 15px; */
    }


    .service-design .service-design-item:nth-child(2n+1) {
        /* padding-left: 0px; */
    }

    .service-design .service-design-item:nth-child(2n) {
        /* padding-right: 0px; */
    }

    #design-category .design-item {
        padding: 0px 0px 20px 0px;
    }
}

@media only screen and (max-width: 575px) {
    #project .service-design .col-sm-6 {
        -ms-flex: 0 0 calc(50% - 10px);
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    .banner {
        height: 100px;
    }

    .service-design-item {
        padding: 0px !important;
    }

    div.k-window {
        position: fixed !important;
        width: calc(100vw - 40px) !important;
        height: calc(100vh - 100px) !important;
        top: 20px !important;
        left: 20px !important;
    }

    #project .service-design-item:nth-child(3n+1) {
        margin-left: 15px;
    }

    #project .service-design-item:nth-child(2n+1) {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 400px) {
    .service-design .col-sm-6 {
        padding: 0px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.banner-color h1 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-family: 'FS PF BeauSans Pro';
    color: #FFFFFF;
    margin: auto;
}
.banner-title {
    height: calc(100% - 24px);
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 576px) {
    .banner-title {
        height: 100%;        
    }
    .banner-color h1 {
        font-size: 25px;
    }
}
#serviceID .service-design-item,
#design .service-design-item {
    aspect-ratio: unset;
}
    #serviceID .service-design-item img,
    #design .service-design-item img {
        height: auto;
        aspect-ratio: 311/256;
    }
.news-detail-slider a.slick-slide img{
    height: auto !important;
    aspect-ratio: 4/3;
}
@-moz-document url-prefix() {
    .form-register .col-md-6 {
        margin-bottom: 15px;
    }
}
.banner-home .slick-arrow {
    display: none !important;
}