﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('./fonts/FS-PFBeauSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Sanfra-bold";
    src: url("./fonts/SanFranciscoTextBoldG3.otf")
}

@font-face {
    font-family: "Sanfra-regular";
    src: url("./fonts/SanFranciscoTextRegularG1.otf")
}

@font-face {
    font-family: "SVN";
    src: url("./fonts/Alyamore.otf")
}

@font-face {
    font-family: 'Alyamore';
    src: url('./fonts/Alyamore.otf') format('opentype');
}

@font-face {
    font-family: 'Sarabun';
    src: url('./fonts/Sarabun-Regular.ttf') format('truetype');
}
* {
    font-family: 'FS PF BeauSans Pro';
}
iframe.fb_customer_chat_icon {
    display: none !important;
}

iframe.anchor_right.fb_customer_chat_bounce_in_v2 {
    right: 70px !important;
}

.btn {
    border-radius: 0px;
}

img {
    object-fit: cover;
}

i {
    font-family: 'FontAwesome';
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

span {
    display: inline-block;
}

p {
    margin: 0px;
}

h1 {
    margin: 0px;
}

.vision-list ul li {
    font-family: Sarabun !important; 
}

.top-header {
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    background-color: #EE0033;
}

    .top-header > div {
        height: 50px;
    }

.zoom:hover {
    transform: scale(1.5);
}

input.input-search {
    padding-right: 10px;
    width: 140px;
    border-radius: 0 38px 38px 0;
    border: none;
    outline: unset;
    background-color: #EE0033;
    color: white;
    height: 32px;
}

.fb_dialog.fb_dialog_advanced {
    display: none !important;
}

.fb_dialog {
    display: none !important;
}

#fb-root > div:last-child {
    display: none !important;
}

.form-search {
    border: 1px solid white;
    background-color: #EE0033;
    border-radius: 35px;
    width: fit-content;
    height: 34px;
    margin: 7px 24px 0 0;
}

    .form-search img {
        height: 17px;
        margin: auto;
        width: 17px;
        margin:8px;
    }

.contact-header span {
    margin-left: 10px;
    margin: auto
}

.menu-header {
    padding: 15px 50px;
}

.top-header {
    font-family: Arial;
}

.menu-header .menu {
    margin-left: 30px;
    display: inline-block;
    font-family: Arial;
    width: calc(100% - 170px);
}

    .menu-header .menu .menu_parent {
        margin-bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .menu-header .menu li {
        font-weight: 400;
        font-size: 17px;
        padding: 0;
        display: inline-block;
    }

    .menu-header .menu > li:first-child {
        width: 80px;
    }

    .menu-header .menu > li:nth-child(2) {
        width: 108px;
    }

    .menu-header .menu > li:nth-child(3) {
        width: 85px;
    }

    .menu-header .menu > li:nth-child(4) {
        width: 130px;
    }

    .menu-header .menu > li:nth-child(5) {
        width: 75px;
    }

    /*.menu-header .menu > li:nth-child(6) {
        width: 130px;
    }*/

    .menu-header .menu > li:nth-child(6) {
        width: 214px;
    }

    /*.menu-header .menu > li:nth-child(8) {
        width: 85px;
    }*/

    .menu-header .menu > li:nth-child(7) {
        width: 80px;
    }

    /*.menu-header .menu > li:nth-child(10) {
        width: 165px;
    }*/

    .menu-header .menu li a {
        padding: 10px 0px !important;
        margin: auto;
    }

    .menu-header .menu li a {
        text-decoration: none;
        color: black;
    }

.banner-color {
    background-color: #0000006e;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-home {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

    .banner-home .slick-list {
        height: 34vw;
    }

    .banner-home .banner-color {
        padding: 30px 0 23px 0;
        display: block;
    }

#product-service-mobile {
    display: none;
}

.banner-home .banner-color h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 140.5%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Sanfra-bold;
}

.banner-home .banner-color p {
    font-size: 30px;
    line-height: 140.5%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Sanfra-regular;
}

.home-image video {
    width: 100%;
}

/*.container {
    max-width: 90%;
}*/

.container {
    max-width: 75%;
}

/*.content {
    margin-top: 10px;
}*/

.content-news {
    margin-top: 0px;
}

.menu-left li {
    list-style: none;
}

.menu-left h2 {
    margin: 0px;
    background-color: #EE0033;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0 10px 25px;
    font-family: Sarabun;
    color: #E5E5E5 !important;
}

    .menu-left h2 a {
        color: white;
    }

.menu-left .package-list {
    padding-left: 25px;
    padding-top: 10px;
    background: #F2F2F2;
    margin-bottom: 0px;
    font-family: Sarabun;
}

    .menu-left .package-list ul {
        margin-bottom: 0px;
        padding-bottom: 10px;
        font-family: Sarabun;
    }

    .menu-left .package-list li {
        font-size: 18px;
        font-weight: 400;
    }

.title-news-detail {
    font-family: Sarabun;
}

.menu-left .designs .package-list {
    padding-left: 0px;
    padding-top: 0px;
}

.menu-header {
    position: fixed;
    top: 50px;
    width: 100vw;
    z-index: 100;
}

.menu-left .designs .package-list ul li span {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.menu-left .designs .package-list > ul {
    padding-bottom: 0px;
}

.menu-left .designs .package-list ul li span p {
    background: linear-gradient(90deg, #7A7A7A 30.21%, rgba(255, 255, 255, 0) 100%);
}

.menu-left .designs .package-list ul li span p {
    padding: 6px 0 6px 25px;
}

.menu-left .designs .package-list ul li ul {
    padding-top: 10px;
    padding-left: 25px;
}

.image-menuleft img {
    width: 100%;
    margin-top: 5px;
}

.home-image-item {
    margin-bottom: 5px;
    position: relative;
    height: calc( 25% - 5px);
}

.list-img .home-image-item:last-child {
    margin-bottom: 0px;
}

.home-image-item p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.home-image-item img {
    width: 100%;
    height: 100%;
}

.list-img {
    padding: 0px;
    flex: 0 0 20%;
    max-width: 20%;
}

.big-img {
    padding-left: 5px;
    padding-right: 0px;
    flex: 0 0 80%;
    max-width: 80%;
}

    .big-img img {
        height: 100%;
        width: 100%;
    }

.service-design-item {
    padding: 5px 15px 20px 15px;
}

.outstanding-design a {
    text-decoration: none;
    color: black;
}

.outstanding-design img {
    width: 100%;
}

.outstanding-design p {
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.home-title {
    margin: 50px 0 20px 0;
}

.title {
    margin-left: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid #EE0033;
}

    .title > span > a {
        color: #EE0033;
    }

    .title img {
        margin-bottom: 10px;
        width: 20px;
        height: 20px;
    }

    .title span h2, .title span {
        color: #EE0033;
        font-size: 22px;
        font-weight: 700;
        font-family: FS PF BeauSans Pro;
    }

.see-more a {
    text-decoration: unset;
    color: #EE0033;
    font-size: 18px;
    font-weight: 700;
}

.see-more {
    border: 1px solid #EE0033;
    line-height: 40px;
    padding: 0 20px;
}

.construction-quote .home-title {
    margin: 50px 0 20px 0;
}

.form-quote select {
    height: 50px;
    width: 100%;
    padding-left: 15px;
    outline: none;
    -webkit-appearance: menulist-button;
}

.popup-register input.k-input {
    height: 58px;
    padding-left: 11px;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    width: 100%;
    height: 60px;
    font-family: Sarabun;
}

.menu-left {
    padding-right: 0px;
}

.form-quote input {
    height: 50px;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border: 1px solid black;
}

.form-quote button {
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #EE0033;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

    .form-quote button:hover {
        font-size: 21px;
        font-weight: 700;
    }

.form-quote > div {
    margin: 15px 0;
}

.slick-slide img {
    width: 100%;
}

.customer-talk .slick-slide {
    margin: 20px 7px;
    padding: 0 5px;
    /*box-shadow: 0px 4px 20px 3px rgba(218, 0, 38, 0.05);*/
    margin-bottom: 15px;
}

.customer {
    padding: 15px 20px;
    text-align: center;
}

.content-popup .register-city > span {
    height: 40px !important;
}

.customer img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.customer h3 {    
    font-family: 'FS PF BeauSans Pro';
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #444940;
    height: 25px;
}

.customer h6 {
    font-family: Sarabun !important; 
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #444940;
    height: 25px;
}

.talk-content {
    padding: 10px 15px;
}

    .talk-content p {
        font-weight: 400;
        font-size: 18px;
        text-align: justify;
    }

select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.big-news {
    position: relative;
    padding: 0px;
}

.news-highlight .big-news img {
    width: 100%;
    /* height: calc(20vw + 10px); */
    /*min-height: 150px;*/
    /*height: 100%;*/
     /*aspect-ratio: 731/541;*/ 
}

.news-highlight a {
    text-decoration: none;
}

.big-news h3 {
    font-weight: 700;
    font-family: FS PF BeauSans Pro;
    font-size: 20px;
    color: black;
}

.big-news h5 {
    font-weight: 700;
    font-size: 16px;
    color: rgba(21, 38, 64, 0.5);
    color: black;
}

.big-news h6 {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.two-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipse;
    overflow: hidden;
}

.news-item {
    box-shadow: 0px 4px 20px 3px rgba(218, 0, 38, 0.05);
    width: 100%;
}


.news-item .news-item-content {
    padding:0px;
    margin:auto 0;
}

.news-item h3 {
    color: black;
    font-family: FS PF BeauSans Pro;
    font-weight: 700;
    font-size: 18px;
}

.big-news-description {
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /*line-height: 140.5%;*/
    color: #5F5F5F;
    height: 40px;
}

.news-item h5 {
    font-weight: 700;
    font-size: 16px;
    /*color: rgba(21, 38, 64, 0.5);*/
    color: black;
}

.news-item h6 {
    font-size: 16px;
    font-family: Sarabun;
    font-weight: 400;
    color: black;
    margin-bottom: 0;
}

.big-news-content {
    padding: 15px;
    margin: 0 10px;
    position: absolute;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.2);
    width: calc(100% - 20px);
}

.news-item img {
    /*min-height: 130px;*/
    /* width: 14.425vw; */
    /* height: 10vw; */
    /*max-width: 35%;
    aspect-ratio: 4/3;*/
    width: 100%;
    height: 100%;
}

.open-menu-home, .open-menu-left {
    display: none;
}

.toggle {
    display: none;
    color: transparent;
}

.modal-dialog {
    max-width: 70vw;
    margin: 2rem auto;
}

.modal-header {
    border-bottom: unset;
}

.modal-title {
    font-weight: 700;
    font-size: 30px;
    color: #EE0033;
    text-transform: uppercase;
}

.modal-body h5 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.table-quote-header.row {
    text-align: center;
    color: white;
    background: #FF0037;
    border-radius: 15px 15px 0 0;
}

.table-quote {
    margin-top: 50px;
}

.table-quote-body {
    text-align: center;
    border: 1px solid #DCBFBF;
    border-radius: 0 0 15px 15px;
}

    .table-quote-body span {
        padding: 10px;
        border: 1px solid #DCBFBF;
        border-top: unset;
    }

    .table-quote-body span {
        border-left: unset;
        font-size: 22px;
        font-weight: 400;
    }

.modal-content {
    padding: 35px 100px 50px 100px;
}

.table-quote-header.row span {
    padding: 10px 0;
    border-right: 1px solid #DCBFBF;
    font-size: 22px;
    font-weight: 700;
}

    .table-quote-header.row span:last-child {
        border-right: unset;
    }

.table-quote-body span:last-child {
    border-right: unset;
}

.table-quote .row {
    margin: 0px;
}

.table-quote span:nth-child(2) {
    text-align: left;
    padding-left: 40px;
}

.amount span {
    border-bottom: unset;
    font-weight: 700;
}

.close {
    position: absolute;
    top: -15px;
    right: -12px;
    outline: unset !important;
}
@media only screen and (max-width: 768px){
    .close {
        position: absolute;
        top: 8px;
        right: 12px;
        outline: unset !important;
    }
}

    .close img {
        width: 25px;
    }

.achievement-content img {
    width: 100%;
}

.vision-item img {
    width: 100%;
    height: 100%;
}

.vision-item h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: Sanfra-bold;
}

.vision-item p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    font-family: Sarabun;
}
 
.vision-item ul {
    margin-left: 20px;
    font-family: Sanfra-regular;
}

.vision-item > div:last-child {
    margin: auto;
    padding: 10px 0;
}

.vision-list {
    margin-top: 70px;
}

    .vision-list .vision-item:nth-child(2) {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

.banner-home, .banner {
    margin-top: 127px;
}

.about-us .home-title {
    margin: 50px 0 20px 0;
}

.about-us .title, .achievement .title, .product-service .title, .organizational-model .title {
    margin-left: 0px;
}

.about-us-content img {
    margin-top: 20px;
    width: 100%;
}

.about-us-content span {
    font-family: Sarabun !important;
    text-align: justify;
}

.menu-header .menu li a:hover {
    font-size: 18px;
    font-weight: 600;
}

.product-service-item {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: Sarabun !important;
    margin: auto;
}

.product-service-item-content {
    margin-top: 50px;
    display: none;
}

    .product-service-item-content img {
        width: 100%;
    }

    .product-service-item-content div {
        margin: auto;
    }

    .product-service-item-content span {
        text-align: justify;
        font-family: Sarabun;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        text-overflow: ellipse;
        overflow: hidden;
    }

.product-service-item.active {
    color: #EE0033;
    font-weight: 700;
    border-bottom: 1px solid #EE0033;
    padding-bottom: 10px;
}

.product-service-item h3 {
    padding-bottom: 10px;
    color: #000000;
    text-decoration: none;
    font-family: 'FS PF BeauSans Pro';
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.organizational-content img {
    width: 100%;
}

.big-img div {
    display: none;
}




.slick-prev {
    background-size: 100% 100%;
    width: 70px;
    background-image: url('../images/prev.png');
    height: 70px;
    background-repeat: no-repeat;
    z-index: 10;
    margin-left: -8px;
}

.slick-next {
    background-size: 100% 100%;
    width: 70px;
    background-image: url('../images/next.png');
    height: 70px;
    background-repeat: no-repeat;
    z-index: 10;
    margin-right: -8px;
}

    .slick-prev:before, .slick-next:before {
        content: '';
    }

.slick-prev:hover, .slick-prev:focus {
    background-size: 100% 100%;
    width: 70px;
    background-image: url('../images/prev.png');
    height: 70px;
    background-repeat: no-repeat;
    z-index: 10;
    margin-left: -8px;
}


.slick-next:hover, .slick-next:focus {
    background-size: 100% 100%;
    width: 70px;
    background-image: url('../images/next.png');
    height: 70px;
    background-repeat: no-repeat;
    z-index: 10;
    margin-right: -8px;
}

.item-image img {
    width: 100%;
    height: 100%;
}

.package a {
    color: black;
    text-decoration: none;
}

.package-list span a {
    color: white;
}

.item-create-time {
}

    .item-create-time p {
        color: #8C8C8C;
        font-size: 18px;
        font-weight: 700;
    }

.decription-big p {
    font-size: 18px;
    font-weight: 400;
}

#FengShui, #news {
    font-family: Sarabun;
}

/*.view-list > a:nth-child(3n+1) {
    padding-left: 0px;
}

.view-list > a:nth-child(3n) {
    padding-right: 0px;
}*/

.open-menu {
    display: none;
}

.service-nav .active {
    color: #EE0033;
    border-bottom: 2px solid #EE0033;
}

    .service-nav .active a {
        color: #EE0033;
        font-weight: 700;
    }

.menu .active > a {
    border-bottom: 2px solid #EE0033;
}

#popup.content.container {
    max-width: 95%;
}

.design-item-content {
    flex: 0 0 36.333333%;
    max-width: 36.333333%;
}
    .design-item-content * {
        font-family: Sarabun !important;
    }
    .k-window-titlebar.k-header {
        height: 0px !important;
        padding: 0px;
    }

.name-company p {
    font-size: 18px;
    font-weight: 700;
}

.input-search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.input-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.input-search::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.package-list ul > li:nth-child(7) {
    margin-bottom: 5px;
}

#popup.content {
    margin-bottom: 0px;
}

.menu-lv1 {
    display: none;
    position: absolute;
    z-index: 100;
    background: white;
    padding: 15px 0px;
}

    .menu-lv1 li {
        display: block !important;
        padding: 5px 10px !important;
    }

.menu li:hover .menu-lv1 {
    display: block;
    margin-top: 5px;
}
/*.menu li:hover >a {
    border-bottom: 2px solid #EE0033;
}*/
.search-group span:last-child {
    display: none;
}

.search-nav li a {
    display: inline-block;
    padding: 10px;
    color: #000000;
    font-weight: 400;
    font-family: Arial
}

    .search-nav li a.active {
        color: #EE0033;
        font-weight: 700;
        font-family: Arial
    }

.content-detail .tab-content {
    margin: 45px auto;
    font-family: Arial;
}

#moduleSearch ul li {
    margin-bottom: 15px;
}

.customer-talk-slider .slick-slide .image img {
    height: 100%;
    width: 100%;
}

.menu-header {
    background: #F2F2F2;
}

.menu-lv1 {
    padding-top: 8px;
    box-shadow: 0px 4px 44px rgba(82, 0, 14, 0.3);
    border-radius: 5px;
}

.menu .menu-lv1 .active > a {
    border-bottom: unset;
}

.menu .menu-lv1 li:hover {
    background: #EDE0E0;
}

.menu .menu-lv1 .active {
    background: #EDE0E0;
}

.KQTK {
    font-family: Sarabun;
    font-weight: 700;
    font-size: 24px;
    margin: 20px auto;
}

#hotline {
    position: fixed;
    right: 25px;
    bottom: 80px;
    z-index: 1410;
}

.list-news {
    padding-right: 0px;
}

.contentSearch .item img {
    width: 100%;
}

div#filterBtn {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #EE0033;
    color: white;
    font-family: Sarabun;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

#filter span.k-combobox, #filter span.k-dropdown {
    width: 100%;
    height: 50px;
}

#filter span.k-dropdown-wrap.k-state-default {
    height: 100%;
}

#filter .k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input {
    height: 100%;
    line-height: 42px;
}

#filter .k-icon {
    background-position: 0 -28px !important;
}

#filter .k-state-hover .k-icon {
    background-position: 0 -28px !important;
}

#filter .k-input {
    color: #585858 !important;    
}
.k-popup .k-list .k-item {
    font-family: Arial !important;
}

#filter .k-select {
    border: unset !important;
}

#filter {
    margin:20px auto 45px auto;
}
    #filter *{
        font-family: Sarabun;
    }

    .content-title h2 {
        font-family: Arial;
        text-transform: uppercase;
    }
/*TimeLine*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
}

    .timeline ol {
        font-size: 0;
        width: 100%;
        padding: 300px 0;
        transition: all 1s;
    }

        .timeline ol > li {
            position: relative;
            display: inline-block;
            list-style-type: none;
            width: calc(16.666666666% - 14px);
            height: 3px;
            background: black;
        }

            .timeline ol > li:last-child {
                width: calc(16.666666666% - 14px);
            }

            .timeline ol > li:not(:first-child) {
                margin-left: 14px;
            }

            .timeline ol > li:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 50%;
                left: calc(100% + 1px);
                bottom: 0;
                width: 12px;
                height: 12px;
                transform: translateY(-50%);
                border-radius: 50%;
                background: #F45B69;
            }

        .timeline ol li div {
            position: absolute;
            left: 10%;
            width: 280px;
            padding: 15px;
            font-size: 1rem;
            white-space: normal;
            color: black;
            background: white;
        }

            .timeline ol li div::before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 0;
                height: 0;
                border-style: solid;
            }

        .timeline ol li:nth-child(odd) div {
            top: -16px;
            transform: translateY(-100%);
        }

            .timeline ol li:nth-child(odd) div::before {
                top: 100%;
                border-width: 8px 8px 0 0;
                border-color: white transparent transparent transparent;
            }

        .timeline ol li:nth-child(even) div {
            top: calc(100% + 16px);
        }

            .timeline ol li:nth-child(even) div::before {
                top: -8px;
                border-width: 8px 0 0 8px;
                border-color: transparent transparent transparent white;
            }

    .timeline time {
        display: block;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        font-family: Sarabun;
        color: #B5B4B4;
    }

    .timeline span {
        text-align: justify;
        color: #B5B4B4;
        font-size: 16px;
        font-weight: 400;
        font-family: Sarabun;
    }
    /* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .timeline .arrows {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

        .timeline .arrows .arrow__prev {
            margin-right: 20px;
        }

    .timeline .disabled {
        opacity: .5;
    }

    .timeline .arrows img {
        width: 45px;
        height: 45px;
    }

    .timeline ol li:nth-child(2n+1) div {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
        flex-direction: column-reverse;
    }

        .timeline ol li:nth-child(2n+1) div time {
            margin-top: 20px;
        }

    .timeline ol li:nth-child(2n) div time {
        margin-bottom: 20px;
    }

    .timeline .row {
        padding: 0px;
    }

    .timeline span li {
        font-family: Sarabun !important;
        list-style: disc;
    }

    .timeline .active time {
        color: #EE0033;
    }

    .timeline .active li {
        font-family: Sarabun !important;
        color: #000000;
    }

.service-content ul li span {
    display: block;
}

.detail-body span{
    font-family: Sarabun !important; 
    display: inline;
}
    .detail-body * {
        font-family: Sarabun !important;
        white-space: normal !important;
    }    


        .cmt tr td {
            vertical-align: top !important;
        }
.detail-body li {
    margin-left:20px;
}
    .detail-body li::marker {
    
    }
    .comment-table thead {
        display: none !important;
    }

.float-left.pagination-detail {
    display: none !important;
}

.bootstrap-table .pagination ul li {
    padding: 0px;
}

.table-bordered {
    border: unset;
}

    .table-bordered .cmt td, .table-bordered .cmt th {
        border: unset;
    }

.cmt tr td:first-child {
    width: 250px;
}

.table td, .table th {
    padding: 10px;
}

.cmt-name {
    font-family: Sarabun;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}

.cmt tr:hover {
    background-color: unset !important;
}

.cmt-date {
    font-family: Sarabun;
    font-weight: 400;
    font-size: 15px;
    color: #8C8C8C;
}

.cmt-content span {
    font-family: Sarabun !important;
    font-weight: 400;
    font-size: 15px;
    color: #8C8C8C;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipse;
    overflow: hidden;
}

.input-group.mb-3.col-6.input-name {
    padding: 0px;
    /* height: 50px; */
    margin-bottom: 25px !important;
}

    .input-group.mb-3.col-6.input-name input {
        height: 50px;
    }

.input-group.mb-3.input-cmt textarea {
    height: 100px;
}

button#btn-cmt {
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    font-family: Sarabun;
    margin-left: calc(100% - 250px);
}

    button#btn-cmt:hover {
        font-size: 19px;
        font-weight: 700;
        font-family: Arial;
    }

.rate {
    height: 52px;
    padding: 0 10px;
    padding-right: 0xp;
}

    .rate:not(:checked) > input {
        position: absolute;
        opacity: 0;
    }

.star span {
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    font-weight: 400;
    font-family: Sarabun;
    color: #B5B4B4;
}

.star {
    justify-content: flex-start;
    padding: 0;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

    .rate:not(:checked) > label:before {
        content: '★ ';
    }

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.bootstrap-table {
    margin-top: 30px;
}

.rate-percent {
    margin-left: 25px;
}

    .rate-percent ul {
        list-style: none;
    }

        .rate-percent ul li:before {
            content: "\2022";
            color: red;
            font-weight: bold;
            display: inline-block;
            margin-left: -1em;
        }

.star-default {
    position: relative;
    height: 25px;
    width: 135px;
    background-size: 27px 25px;
    top: 5px;
    background-image: url(../images/star.png);
}

.star-active {
    height: 25px;
    background-size: 27px 25px;
    background-image: url(../images/star-active.png);
}
/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 991px) {
    #home_page .container {
        max-width: 85%;
    }

    .timeline ol, .timeline ol li {
        width: auto;
    }

        .timeline ol li:nth-child(2n+1) div {
            -webkit-box-orient: unset !important;
            -webkit-box-direction: unset !important;
            -ms-flex-direction: unset !important;
            flex-direction: unset !important;
        }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

        .timeline ol li {
            display: block;
            height: auto;
            background: transparent;
        }

            .timeline ol li:nth-child(2n+1) div time {
                margin-top: 0px;
            }

            .timeline ol li:not(:first-child) {
                margin-left: auto;
            }

            .timeline ol li:nth-child(2n) div time {
                margin-bottom: 0px;
            }

            .timeline ol li div {
                width: 94%;
                height: auto !important;
                margin: 0 auto 25px;
            }

            .timeline ol li div {
                position: static;
            }

            .timeline ol li:nth-child(odd) div {
                transform: none;
            }

                .timeline ol li:nth-child(odd) div::before,
                .timeline ol li:nth-child(even) div::before {
                    left: 50%;
                    top: 100%;
                    transform: translateX(-50%);
                    border: none;
                    border-left: 1px solid white;
                    height: 25px;
                }

            .timeline ol li:last-child,
            .timeline ol li:nth-last-child(2) div::before,
            .timeline ol li:not(:last-child)::after,
            .timeline .arrows {
                display: none;
            }
}





.service-content ul li span, .service-content ul li {
    font-family: Sarabun !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.service-content .modal-content {
    width: 50vw;
    margin: auto !important;
}

.service-content .modal-body, .service-content .modal-body img {
    width: 100%;
}

.service-content .modal-header {
    padding: 0px;
}

.content-detail {
    padding-right: 0px;
    padding-left: 0px;
}

    .service-design-item {
        padding-right: 0px;
        aspect-ratio: 310/256;
    }

div#project {
    padding: 0px;
}

@media only screen and (min-width: 1400px) {
    .content-detail {
        max-width: 100%;
        flex: 0 0 100%;
    }

    /*.menu-left {
        max-width: 25%;
        flex: 0 0 25%;
    }*/
}

@media only screen and (min-width: 1600px) {
    .menu-header .menu li {
        padding: 0 15px;
    }

    .menu-header .menu li {
        padding: 0;
    }

    .menu-header .menu > li:first-child {
        width: 99px;
    }

    .menu-header .menu > li:nth-child(2) {
        width: 122px;
    }

    .menu-header .menu > li:nth-child(3) {
        width: 100px;
    }

    .menu-header .menu > li:nth-child(4) {
        width: 148px;
    }

    .menu-header .menu > li:nth-child(5) {
        width: 85px;
    }

    /*.menu-header .menu > li:nth-child(6) {
        width: 143px;
    }*/

    .menu-header .menu > li:nth-child(6) {
        width: 224px;
    }

    /*.menu-header .menu > li:nth-child(8) {
        width: 100px;
    }*/

    .menu-header .menu > li:nth-child(7) {
        width: 96px;
    }

    /*.menu-header .menu > li:nth-child(10) {
        width: 175px;
    }*/

    .menu-header .menu li a {
        padding: 10px 5px !important;
        margin: auto;
    }
}

@media only screen and (min-width: 1800px) {
    .content-detail {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .menu-left {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .menu-header .menu li {
        padding: 0;
    }

    .menu-header .menu > li:first-child {
        width: 108px;
    }

    .menu-header .menu > li:nth-child(2) {
        width: 132px;
    }

    .menu-header .menu > li:nth-child(3) {
        width: 109px;
    }

    .menu-header .menu > li:nth-child(4) {
        width: 158px;
    }

    .menu-header .menu > li:nth-child(5) {
        width: 95px;
    }

    /*.menu-header .menu > li:nth-child(6) {
        width: 153px;
    }*/

    .menu-header .menu > li:nth-child(6) {
        width: 234px;
    }

    /*.menu-header .menu > li:nth-child(8) {
        width: 110px;
    }*/

    .menu-header .menu > li:nth-child(7) {
        width: 106px;
    }

    /*.menu-header .menu > li:nth-child(10) {
        width: 185px;
    }*/

    .menu-header .menu li a {
        padding: 10px 10px !important;
        margin: auto;
    }

    .top-header {
        padding: 0 100px;
    }

    .menu-header {
        padding: 15px 100px 15px 100px;
    }
}

@media only screen and (max-width: 1500px) {

    .container {
        max-width: 80%;
    }


    .news-item img {
        min-height: 90px;
    }

    .news-highlight .big-news img {
        min-height: 200px;
    }

    .list-news {
        padding-right: 0px;
    }

    .big-news {
        padding-left: 10px;
    }
    .big-news-content {
        width: calc(100% - 30px);
    }
    .name-company {
        margin: 0px;
        padding: 0px;
    }

    .multiple-img .slick-next {
        right: -33% !important;
    }

    .multiple-img .slick-prev {
        left: -33% !important;
    }

    .menu-header {
        padding: 15px 0px 15px 50px;
    }
}

@media only screen and (max-width: 1400px) {
    .menu-header .menu {
        margin-left: 10px;
    }

    .name-company p {
        font-size: 17px;
        font-weight: 700;
    }

    .name-company {
        flex: 0 0 27%;
        max-width: 27%;
    }

    .big-news-content {
        margin: 0 5px;
        width: calc(100% - 20px);
    }
    @media screen and (max-width: 1366px) {
        .big-news-content {            
            width: calc(100% - 20px);
        }
    }

    .menu-header {
        padding: 24px 0px;
    }


        .menu-header .menu li {
            font-size: 16px;
        }

    .top-header {
        padding: 0 10px;
    }

        .top-header .col-md-3 {
            padding: 0px;
            flex: 0 0 20%;
            max-width: 20%;
        }

    .home-image-item p {
        font-size: 15px;
    }

    .contact-header {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .toggle {
        display: none;
    }

    /*.menu-left {
        flex: 0 0 28.333333%;
        max-width: 28.333333%;
    }*/

    .content-detail {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .menu-header .menu > li:first-child {
        width: 78px;
    }

    .menu-header .menu > li:nth-child(2) {
        width: 100px;
    }

    .menu-header .menu > li:nth-child(3) {
        width: 80px;
    }

    .menu-header .menu > li:nth-child(4) {
        width: 130px;
    }

    .menu-header .menu > li:nth-child(5) {
        width: 65px;
    }

    /*.menu-header .menu > li:nth-child(6) {
        width: 120px;
    }*/

    .menu-header .menu > li:nth-child(6) {
        width: 205px;
    }

    /*.menu-header .menu > li:nth-child(8) {
        width: 80px;
    }*/

    .menu-header .menu > li:nth-child(7) {
        width: 80px;
    }

    /*.menu-header .menu > li:nth-child(10) {
        width: 160px;
    }*/

    .menu-header .menu li a:hover {
        font-size: 17px;
    }

    .menu-header .menu li {
        font-size: 16px;
    }

    .menu-header {
        padding: 15px 5px 15px 20px;
    }

    @media only screen and (max-width: 1300px) {
        .banner-home, .banner {
            margin-top: 123px;
        }

        .logo {
            width: 90px;
        }

        .top-header {
            padding: 0;
        }

        .menu-header {
            padding: 15px 5px 15px 20px;
        }

        .name-company p {
            font-size: 16px;
        }

        .menu-header .menu > li:first-child {
            width: 72px;
        }

        .menu-header .menu > li:nth-child(2) {
            width: 94px;
        }

        .menu-header .menu > li:nth-child(3) {
            width: 74px;
        }

        .menu-header .menu > li:nth-child(4) {
            width: 124px;
        }

        .menu-header .menu > li:nth-child(5) {
            width: 60px;
        }

        /*.menu-header .menu > li:nth-child(6) {
        width: 114px;
    }*/

        .menu-header .menu > li:nth-child(6) {
            width: 200px;
        }

        /*.menu-header .menu > li:nth-child(8) {
        width: 80px;
    }*/

        .menu-header .menu > li:nth-child(7) {
            width: 70px;
        }

        /*.menu-header .menu > li:nth-child(10) {
        width: 155px;
    }*/

        .menu-header .menu li {
            font-size: 16px !important;
        }

            .menu-header .menu li a:hover {
                font-size: 17px !important;
                font-weight: 600;
            }

        .banner-home, .banner {
            margin-top: 114px;
        }

        .contact-header span {
            margin: 0px;
            margin-left: 20px;
        }
    }

    @media only screen and (max-width: 1200px) {
        .menu-header {
            padding: 24px 5px 24px 5px;
        }

            .menu-header .menu-lv1 {
                display: none !important;
            }

        .service-design {
            margin-top: 20px;
        }

        .service-nav {
            margin-bottom: 40px !important;
        }

        #close-menu-left, #open-menu-left {
            position: absolute;
            left: -5px;
        }

        #open-menu-left {
            display: block;
        }

        #close-main, #close-main-left, #close-menu-left {
            display: none;
        }

        .menu-left {
            display: none;
        }

        .content-detail {
            max-width: 100%;
            flex: 0 0 100%;
            padding-left: 0px;
        }

        .menu-header {
            display: flex;
        }

            .menu-header .menu {
                display: none;
            }

        .open-menu-home, .open-menu-left, .open-menu {
            width: 35px;
            height: 20px;
            display: block;
            margin: auto 0;
        }

        .top-header {
            display: none;
        }

        .menu-header .logo {
            margin: auto;
        }

        .menu-header .menu {
            position: absolute;
            background-color: white;
            list-style: none;
            margin-left: 0px;
            top: 81px;
            left: 0px;
            width: 100vw;
            z-index: 1;
            font-family: Arial;
        }

            .menu-header .menu li {
                display: block;
                padding: 5px;
                text-align: center;
            }

                .menu-header .menu li:last-child {
                    margin-bottom: 10px;
                }

        .menu-left {
            position: absolute;
            top: 82px;
            right: 0px;
            flex: 0 0 400px;
            max-width: 400px;
            /* width: 100vw; */
        }

        .test {
            width: 100%;
            position: absolute;
            top: 0px;
            color: transparent;
            background-color: #0000006e;
        }

        .outstanding-design-list > a {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .toggle {
            display: block;
            position: absolute;
            width: calc(100vw - 385px);
            left: calc(-100vw + 400px);
            height: 100%;
            background: #0000006b;
            z-index: 1;
        }


        .modal-content {
            padding: 30px 50px;
        }

        .view-list > a:nth-child(3n+1) {
            padding-left: 15px;
        }

        .view-list > a:nth-child(3n) {
            padding-right: 15px;
        }

        .view-list > a:nth-child(2n+1) {
            padding-left: 0px;
        }

        .view-list > a:nth-child(2n) {
            padding-right: 0px;
        }

        .slick-prev {
            margin-left: 5px;
        }

        .slick-next {
            margin-right: 5px;
        }

            .slick-next:hover, .slick-next:focus {
                margin-right: 5px;
            }

        .slick-prev:hover, .slick-prev:focus {
            margin-left: 5px;
        }
    }

    .banner-home .slick-arrow {
        display: none !important;
    }

    .banner-home .item-banner img {
        width: 100%;
        height: 100%;
    }

    #news-detail h2, #news-detail h1, #news-detail p h3 {
        font-family: 'FS PF BeauSans Pro' !important;
    }
    #news-detail p {
        font-family: Sarabun;
    }

    .detail-body img {
        max-width: 100%;
        height: auto !important;
    }

    .customer-model {
        cursor: pointer;
    }





    .model-img {
        width: 54.34%;
    }

    .model-text {
        width: 45.66%;
        padding-left: 40px;
        padding-right: 20px;
        max-height: 100%;
    }

        .model-text .customer {
            padding: 40px 0px;
        }

    .model-img img {
        height: 100%;
        width: 100%;
    }

    .content-nonpd {
        padding: 0;
    }

    .pd-100px {
        padding-top: 100px;
    }

    .detail-body h1 {
        font-size: 28px;
    }

    .detail-body h2 {
        font-size: 24px;
    }

    .detail-body h3 {
        font-size: 22px;
    }

    .detail-body h4 {
        font-size: 18px;
    }

    .detail-body h5 {
        font-size: 16px;
    }

    .detail-body h6 {
        font-size: 16px;
    }


    .copyright-footer a {
        color: white;
    }

        .copyright-footer a:hover {
            color: white;
            font-weight: 600;
            font-size: 17px;
        }

    .img-bct {
        margin-top: 20px;
        margin-bottom: -10px;
    }

    .package a:hover {
        font-weight: 600;
        font-size: 19px;
    }

    .package h2 a:hover {
        font-size: 21px;
        font-weight: 700;
    }

    #design-category .design-item:nth-child(2n+1) {
        padding-left: 0px;
    }

    .open-menu-left {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .big-news-content {
        bottom: 10px;
    }

    .menu-header {
        margin-top: 0px;
    }

    .model-text .customer {
        padding: 20px 0px;
    }

    .menu-header {
        top: 0px;
    }

    .banner-home, .banner {
        margin-top: 82px;
    }

    .banner-color {
        padding: 0px;
    }

    .menu-header .menu > li {
        width: 100% !important;
    }

    #filter > div:first-child {
        padding-left: 0px;
    }

    .service-nav #open-menu-left {
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1092px) {
    .design-item-img {
        margin-right: 0;
    }

    .design-item-content {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .service-content .modal-content {
        width: 90vw;
        margin: auto !important;
    }

    #filterBtn {
        margin-top: 15px;
    }

    #filter > div:first-child {
        padding-left: 0px
    }

    #filter > div:nth-child(2) {
        padding-right: 0px
    }

    .banner-home .banner-color h1 {
        font-size: 30px;
        line-height: 100.5%;
    }

    #hotline {
        position: fixed;
        right: 5px;
        bottom: 20px;
        z-index: 1410;
        top: unset;
    }


    .banner-home .banner-color p {
        font-size: 23px;
        line-height: 100.5%;
    }

    .news-highlight-content {
        padding: 0 10px;
    }

    .list-news {
        padding-left: 0px;
        margin-top: 10px
    }

    .news-highlight .big-news img {
        width: 100%;
        height: 64vw;
        min-height: unset;
    }

    .banner h1 {
        font-weight: 700;
        font-size: 35px;
    }

    .banner p {
        font-weight: 400;
        font-size: 20px;
    }

    .outstanding-design-list > a {
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }

    .list-img {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .home-image-item {
        margin-bottom: 0px;
        max-width: 50%;
        flex: 0 0 50%;
    }

    .big-img {
        padding-left: 5px;
        padding-right: 0px;
        flex: 0 0 80%;
        max-width: 80%;
    }

    .big-img {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0px;
    }

    .home-image-item img {
        height: 100%;
        width: 100%;
    }

    .home-image {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .big-news {
        padding-left: 0px;
    }

    .table-quote-header.row span {
        font-size: 17px;
    }

    .table-quote-body span {
        font-size: 17px;
    }

    .modal-dialog {
        max-width: 90vw;
    }

    .product-service-item {
        max-width: 33.33333%;
        flex: 0 0 33.3333333%;
        margin-bottom: 30px;
    }

    .product-service-header .product-service-item:nth-child(4), .product-service-header .product-service-item:nth-child(5) {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .vision-item > div {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .vision-item > div {
        margin: auto;
        padding: 10px 10px !important;
    }

    .cmt tr td:first-child {
        width: 200px;
    }
}

@media only screen and (max-width: 870px) {
    .multiple-img .slick-prev {
        left: 0% !important;
    }

    .multiple-img .slick-next {
        right: 0% !important;
    }
}

@media only screen and (max-width: 768px) {
    #product-service-mobile {
        display: flex;
    }

        #product-service-mobile h3 {
            margin: 20px;
            text-align: center;
            color: #EE0033
        }

    div#product-service-pc {
        display: none;
    }

    .menu-header .menu .menu_parent {
        display: block;
    }
    /*
    #frmOrder > div:first-child {
        padding-right: 0px;
    }*/
    .model-img {
        width: 100%;
    }

    .model-text {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-detail .big-category p {
        font-size: 20px !important;
    }

    .view-list .item-title p {
        font-size: 19px !important;
    }

    .view-list .item-create-time p {
        font-size: 19px !important;
    }

    .see-more a {
        font-size: 18px;
        font-weight: 700;
    }

    .see-more {
        line-height: 30px;
    }

    .title {
        margin-left: 0;
        padding-bottom: 0px;
        border-bottom: 2px solid #EE0033;
    }
    .title span{
        font-size: 18px;
    }
    .modal-content {
        padding: 0;
    }

    .table-quote span:nth-child(2) {
        text-align: left;
        padding-left: 10px;
    }

    .product-service-item-content > div {
        max-width: 100%;
        flex: 0 0 100%;
    }

        .product-service-item-content > div:first-child {
            margin-top: 10px;
        }

    .product-service-item-content {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .product-service-item-content {
        margin-top: 20px;
    }

    tr.tr-class-1 {
        display: inline-grid;
        width: 100%;
    }

    td.user-cmt {
        width: 100% !important;
        display: flex;
    }

    span.cmt-date {
        margin-left: auto;
        /* float: right; */
    }

    td.cmt-content {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .input-group.mb-3.col-6.input-name {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .star {
        max-width: 100%;
        flex: 0 0 100%;
        justify-content: flex-start;
        padding: 0px;
    }

    .form-group.row {
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
        flex-direction: column-reverse !important;
    }

    #news-detail .home-title {
        margin: 50px 0 -20px 0 !important;
    }

    .title-news-detail h1 {
        font-size: 25px !important;
        font-weight: 700 !important;
        line-height: unset !important;
    }

    .content-footer > a {
        display: flex;
    }

    .img-bct {
        margin: 10px auto;
        margin-bottom: -10px;
    }
}


@media only screen and (max-width: 576px) {
    .star-rate > span:first-child {
        width: 100%;
    }

    .title-news-detail p {
        margin: 0px !important;
        margin-top: 5px !important;
    }

    .col-8 {
        padding: 0px;
    }

    #register {
        padding: 20px 5px !important;
    }

    .view-list > a {
        padding: 0px;
    }

    .sitemap, .image-register-hotline {
        display: none !important;
    }

    .register-now {
        padding: 0;
    }

    .news-item img {
        width: 150px;
        height: 109px;
        flex: 0 0 150px;
    }

    .banner-home .banner-color h1 {
        font-size: 23px;
        line-height: 100.5%;
    }

    .banner-home .banner-color p {
        font-size: 18px;
        line-height: 100.5%;
    }

    .table-quote-header.row span {
        font-size: 14px;
    }

    .table-quote-body span {
        font-size: 14px;
    }

    .outstanding-design-list > a {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .square {
        display: none;
    }

    .title span {
        font-size: 18px;
    }

    .see-more a {
        font-size: 14px;
    }

    .see-more {
        display: none;
        /*padding: 0 10px;
        min-width: 100px;*/
    }
    .see-more-mobile {
        display: block;
    }

    .home-title {
        margin: 50px 0 40px 0;
    }

    .construction-quote .home-title {
        margin: 20px 0 50px 0;
    }

    #popup.content.container {
        max-width: 100%;
        margin-top: 0px;
        padding: 0px;
    }
}


@media only screen and (max-width: 400px) {
    .rate:not(:checked) > label {
        float: left;
    }

    .star {
        display: block !important;
    }

        .star span {
            width: 100%;
            height: 30px;
            line-height: 30px;
        }

    .rate {
        padding: 0px;
        margin-bottom: 10px;
    }

    button#btn-cmt {
        width: 100%;
        margin-left: 0;
    }

    .rate-percent {
        margin-left: 0px;
    }

        .rate-percent ul li:before {
            display: none;
        }

    .see-more {
        display: none;
    }

    span.item-CNKT.col-3 {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }

    span.item-STT.col-1 {
        flex: 0 0 calc(8.333333% + 20px);
        max-width: calc(8.333333% + 20px);
    }

    .content-table .table-decription .item-CNKT, .content-table .table-decription .item-ADD {
        padding-left: 5px !important;
    }
    .title span h2, .title span {
        color: #EE0033;
        font-size: 19px;
        font-weight: 700;
    }
}





#register .but-register input:hover {
    font-weight: 700;
    font-size: 19px;
}

.see-more a:hover {
    font-size: 19px;
}

.service-nav ul li a:hover {
    font-weight: 700;
    font-size: 17px;
}

div#filterBtn:hover {
    font-weight: 700;
    font-size: 21px;
}

.outstanding_mobile {
    display: none;
}

.customer-talk {
    background-image: url('../images/customerbanner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 50px 0px;
}

    .customer-talk .home-title {
        margin: 0px 0 20px 0;
    }

    .customer-talk .slick-next {
        margin-right: 15px;
        top: 130px;
    }

    .customer-talk .slick-prev {
        margin-right: 15px;
        top: 130px;
    }

    .customer-talk h6 {
        margin-top: 15px;
        text-align: center;
        color: #444940;
        font-weight: 700;
        font-size: 18px;
    }

    .customer-talk .images {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

        .customer-talk .images img {
            border-radius: 50%;
        }

@media only screen and (max-width: 575px) {
    .outstanding_pc {
        display: none;
    }

    .outstanding_mobile {
        display: block;
    }

    .menu-header .menu .menu_parent {
        display: block;
    }
}

.home_highlight .title_home {
    display: none;
}

.home_highlight .see-more {
    display: none;
}

.home_highlight .title_newall {
    display: inline-block;
}

.home_highlight {
    margin-bottom: 100px;
}

#news .home-title {
    margin-bottom: 50px;
    margin-top: 0;
    padding-left: 15px;
}

.service-nav ul {
    margin-bottom: 0px;
}

.construction-quote {
    margin-bottom: 50px;
}

.item-create-time span {
    float: right;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140.5%;
    text-align: justify;
    color: #8C8C8C;
}

.view-list .big-category .item_title {
    float: left;
}

.contact_page .container {
    max-width: 100%;
}

.nav_overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
}

.top-header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

.language-select {
    list-style: none !important;
}
.news-item a, .news-item a:hover, .news-item a :link{
    text-decoration: none !important;
}
.service-design .service-text {
    font-family: Sarabun;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    padding-top:5px;
}
#project .service-design-item img {
    aspect-ratio: 311/262;
}
ul#ComboboxProvinces_listbox li {
    font-family: 'Sarabun';
}
.see-more-mobile {
    display: none;
    border: 1px solid #EE0033;
    line-height: 40px;
    padding: 0 20px;
}

@media only screen and (max-width: 575px) {
    .see-more-mobile {
        display: inline-block;
    }
    #home_page .container {
        max-width: 100%;
    }
    .container {
        max-width: 100%;
    }
    .banner-color h1 {
        font-size: 25px;
    }
    .slick-next {
        right: -15px;
    }
    .detail-body *:not(li) {
        font-family: Sarabun !important;
        max-width: 100%;
        text-align: justify;
        overflow-x: auto;
        overflow: hidden;
    }
    .copyright-footer .text-center {
        text-align: left !important;
    }
}
.service-page .cotainer{
    max-width: 85%;
}
.logo-footer{
    padding-bottom:10px;
}
.detail-body table{
    max-width: 100%;    
}
.modal-body *{
    font-family : Sarabun !important;
}
#manage .container, #design-category .container, .row.service-design {
    margin: 20px auto;
}
#home .outstanding-design .outstanding-design-list > a{
    aspect-ratio: unset;
}
#home .aspect-ratio-square, .view-list-search .item-image {
    aspect-ratio: 310/256;
}
.view-list-search .item-title {
    font-family: FS PF BeauSans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140.5%;
    color: #000000
}
.item-banner {
    cursor: pointer;
}
.padd0{
    padding: 0;
}

.field-validation-error {
    font-size: 12px !important;
    color: red;
    margin: 3px 0px;
    float: left;
}

.clearfix {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 200px;
    color: #C5002A;
}

.news-highlight-content.row {
    aspect-ratio: 8/3;
}

.big-news.col-12.col-lg-6 {
    aspect-ratio: 4/3;
    height: 100%;
}

    .big-news.col-12.col-lg-6 a {
        height: 100%;
        width: 100%;
        display: inline-block;
    }

.news-highlight .big-news img {
    width: 100%;
    height: 100%;
}


.col-lg-4.padd0 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 calc(33.333333% - 10.3125px) !important;
    max-width: calc(33.333333% - 10.3125px);
    aspect-ratio: 4/3;
    height: 100%;
}

.list-news .row:not(:last-child) .news-item {
    margin-bottom: 17.5px;
}
#register .register-button.right{
    justify-content: flex-start;
}
#register .register-button.left {
    justify-content: flex-end;
    margin-bottom: 30px;
}
#register .register-button input {
    width: 304px !important;
    height: 78px !important;
}

#html_element_popup,
.home-popup .register-but {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
}
#html_element_popup {
    transform-origin: right top;
    -webkit-transform-origin: right top;
}
.home-popup .register-but {
    transform-origin: left top;
    -webkit-transform-origin: left top;
}
@media screen and (max-width: 1200px) {
    .list-news .row:not(:last-child) .news-item {
        margin-bottom: 13.5px;
    }

    .news-item h3 {
        -webkit-line-clamp: 1;
        margin-bottom: 3px;
    }

    .news-item h5 {
        margin-bottom: 3px;
    }

    .news-item h6 {
        -webkit-line-clamp: 1;
        height: 20px;
    }
}
@media only screen and (max-width: 991px){
    .news-highlight-content.row {
        aspect-ratio: auto;
    }
    .big-news-content {
        margin: 0 10px;
    }
    .news-item h6 {
        -webkit-line-clamp: 2;
        height: 40px;
    }
    .news-item h3 {
        -webkit-line-clamp: 2;
        margin-bottom: 3px;
    }
    .news-item .news-item-content {
        padding: 20px 0;
        /* margin: auto 0; */
    }
    #register .register-button.right,
    #register .register-button.left {
        justify-content: center;
    }
}
@media only screen and (max-width: 768px) {
    .col-lg-4.padd0 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 calc(40.333333% - 10.3125px) !important;
        max-width: calc(40.333333% - 10.3125px);
        aspect-ratio: 4/3;
        height: 100%;
    }
    
    .news-item img {
        width: 100%;
        height: 100%;
    }

    #html_element_popup,
    .home-popup .register-but {
        transform-origin: center center;
        -webkit-transform-origin: center center;
    }
}


.menu-header .menu li a {
    padding: 10px 0;
}

.banner {
    height: 12.9vw;
}

.banner-color {
    height: 100%;
}


    .banner-color a{
        font-weight: bold;
        font-size: 16px;
        line-height: 140.5%;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
    }

.banner-color {
    padding: 30px 0 35px 0;
    /*display: flex;
    align-items: flex-end;*/
}

    .banner-color .img-spansitemap:last-child {
        display: none;
    }

    .banner-color a{
        width: fit-content;
        margin: 0;
    }

.img-spansitemap img {
    margin: 0 10px 0px 10px;
    height: 14px;
}


.service-nav {
    background-color: #F2F2F2;
    height: fit-content;
    margin-bottom: 60px;
    width: 100%;
}

    .service-nav ul {
        display: flex;
        justify-content: space-around;
        text-align: center;
        justify-content: space-around;
    }

        .service-nav ul li {
            list-style: none;
            padding: 12.87px 1.17vw;
            max-width: unset;
            margin: auto;
            display: inline-block;
        }

            .service-nav ul li a {
                color: #000000;
                text-decoration: none;
                font-family: FS PF BeauSans Pro;
                font-size: 18px;
                font-weight: 300;
                padding: 10px 0;
            }

.service-header {
    margin: 50px 0 20px 0;
}
.service-design-item div h3 {
    font-family: Sarabun; 
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 5px;
}

.pagination ul li {
    font-family: Sanfra-regular;
}

.service-header span {
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    text-transform: uppercase;
    color: #EE0033;
    border-bottom: 2px solid #EE0033;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.design-item-content {
    text-align: justify;
    margin-bottom: 20px;
}

.square {
    width: 19px;
    height: 19px;
    background-color: #EE0033;
    margin-right: 19.8px;
}

.service-construction-img {
    width: 100%;
    max-width: 100%;
}

.service-design {
    margin-top: 44.55px;
}

.service-design-item {
    cursor: pointer;
}
.service-content .service-design-item {
    aspect-ratio: 310/256;
}

.service-design-item img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#project .service-design-item img{
    height: auto;
}

.service-content ul {
    margin-left: 20px;
}

.design-item {
    height: fit-content;
    position: relative;
    padding: 0 7.5px 15px 7.5px;
    aspect-ratio: 623/390;
}

#design-category .design-item:nth-child(2n) {
    padding-right: 0px;
}

.design-item img {
    width: 100%;
    height: 100%;
}

.design-item h3 {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    color: #fff;
    bottom: 10%;
    width: calc(100% - 15px);
    text-align: center;
    font-family: Sarabun;
    padding: 0 10px;
}

#design-item {
    width: 100%;
    font-family: Sarabun;
}

.slick-dots {
    display: none !important;
}

.service-content {
    font-family: Sarabun;
}

div.k-window {
    position: fixed !important;
    width: calc(100vw - 80px) !important;
    height: calc(100vh - 80px) !important;
    top: 40px !important;
    left: 40px !important;
}

#home {
    font-family: Arial;
}

.k-window-titlebar.k-header {
    border-bottom: unset;
}

.design-item-content .header h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    text-transform: uppercase;
    color: #000000;
    margin: 24.75px 0;
}

.design-item-content .descreption {
    font-weight: bold;
    font-size: 22px;
    line-height: 140.5%;
    text-align: justify;
    color: #444940;
    margin: 7.92px 0;
}

.design-item-content .content {
    font-weight: normal;
    font-size: 18px;
    line-height: 140.5%;
    text-align: justify;
    color: #000000;
    margin: 51.48px 0;
}


.multiple-img img {
    height: 100%;
    padding: 17px 10px;
}

.multiple-img .slick-slide {
    opacity: 0.5;
}

    .multiple-img .slick-slide.slick-center {
        opacity: 1
    }

#item-modal .modal-dialog {
    max-width: unset !important;
}

.banner-home .banner-color {
    display: block !important
}

.service-design .service-design-item:nth-child(4n+1) {
    /* padding-left: 0px; */
}

.service-design .service-design-item:nth-child(4n) {
    /* padding-right: 0px; */
}

.pagination ul li {
    border: 1px solid #B5B4B4;
    padding: 5px 15px;
    display: inline-block;
    margin: 0 5px;
}

.pagination ul {
    margin: auto;
    margin-top: 30px;
}

    .pagination ul li.active {
        border: 1px solid black;
    }

.pagination a {
    color: #B5B4B4;
}

.active.previous {
    display: none;
}

.active.next {
    display: none;
}

.multiple-img {
    width: 40%;
    margin: auto;
}

.design-item-img .slider-nav {
    width: 90%;
    margin: auto;
    overflow: hidden
}

.multiple-img .slick-list {
    overflow: unset;
}

.multiple-img .slick-next {
    right: -75%;
}

.multiple-img .slick-prev {
    left: -75%;
}



.k-state-hover .k-window-actions {
    background-color: unset !important;
    border: unset !important;
}

.design-item-img {
    margin-right: 5%;
}

.service-design h3 {
    font-size: 19px;
    font-weight: 700;
    text-align: left;
}

.service-design p {
    font-size: 18px;
    font-family: Sarabun;
    font-weight: 400;
    text-align: center;
}

#project .service-design-item img {
    margin: 0;
}

#project .service-design-item {
    box-shadow: 0px 4px 20px 3px rgba(218, 0, 38, 0.05);
}

#project .service-design-item {
    padding: 0px;
    margin: 7.5px 15px;
    margin-right: 0px;
}

#project .service-design .col-lg-3 {
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 calc(33.33333333% - 20px);
    max-width: calc(33.3333333% - 20px);
}


#project .service-design-item > div {
    padding: 10px;
    background: white;
}

.single-img img {
    object-fit: contain;
}

.multiple-img img {
    object-fit: cover;
}
/*REPONSIVE*/
@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1600px) {
    /*.service-nav ul {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }*/

        .service-nav ul li {
            list-style: none;
            max-width: 20%;
            margin: auto 0;
        }

    #project .service-design .col-lg-3 {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

.contact-header a {
    text-decoration: none;
}
/** CSS COMBOBOX*/
.construction-quote .k-combobox, .construction-quote .k-dropdown {
    width: 100% !important;
}

    .construction-quote .k-combobox .k-dropdown-wrap, .construction-quote .k-dropdown .k-dropdown-wrap {
        height: 52px !important;
        border-color: #767676;
    }

    .construction-quote .k-combobox span input, .construction-quote .k-dropdown .k-input, .construction-quote .k-select {
        height: 100%;
        font-family: Sarabun;
        /*= height: 52px !important; padding 4 => 52-4*/
        line-height: 48px;
    }

.construction-quote .k-icon {
    background-position: center;
    background-size: 100%;
    background-image: url('../images/icon/i-dropdown.png') !important;
}

.construction-quote .k-select {
    border: none;
    padding-right: 10px;
}

.construction-quote .k-state-hover, .construction-quote .k-state-focus, .construction-quote .k-state-focused, .construction-quote .k-state-active {
    background-color: transparent !important;
}

    .construction-quote .k-state-hover .k-input {
        color: #000000;
    }

#project span.k-select {
    padding-top: 7px;
}

.k-icon.k-i-close {
    width: 25px !important;
    background-image: url(../images/x.png) !important;
    color: transparent;
    height: 25px !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center !important;
    top: -10px !important;
    position: absolute !important;
    right: -18px !important;
}

.k-window-actions .k-state-hover:hover {
    background-color: transparent;
    border-color: transparent;
}

.talk-content p, .talk-content span {
    color: #000 !important;
    font-family: Sarabun !important;
    font-size: 16px !important;
}

    .talk-content p, .talk-content p span {
        height: 140px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        text-align: center;
        font-family: Sarabun !important;
    }

.slick-track {
    display: flex;
}

.nav-tabs .active {
    border-bottom: 2px solid #EE0033;
}
/*REPONSIVE*/
@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1600px) {
    /*.service-nav ul {
        display: flex;
        text-align: center;
    }*/

        .service-nav ul li {
            list-style: none;
            max-width: 20%;
            margin: auto 0;
        }

    #project .service-design .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 calc(25% - 15px);
        max-width: calc(25% - 15px);
    }
}

span.k-dropdown-wrap.k-state-default {
    padding-left: 15px;
}

@media only screen and (max-width: 1600px) {
    /*    .service-design .service-design-item:nth-child(4n+1) {
        padding-left: 15px;
    }

    .service-design .service-design-item:nth-child(4n) {
        padding-right: 15px;
    }

    .service-design .service-design-item:nth-child(3n+1) {
        padding-left: 0px;
    }

    .service-design .service-design-item:nth-child(3n) {
        padding-right: 0px;
    }*/
    .multiple-img {
        width: 60%;
        margin: auto;
    }

    .banner-color {
        padding: 15px 0 15px 0;
    }

    #project .service-design .col-lg-3 {
        -ms-flex: 0 0 33.33333333%;
        flex: 0 0 calc(33.33333333% - 15px);
        max-width: calc(33.3333333% - 15px);
    }
}

@media only screen and (max-width: 1200px) {
    .banner-color a {
        font-size: 16px;
    }

    .service-nav ul {
        margin: auto;
        display: none;
        width: fit-content;
    }

        .service-nav ul li {
            display: block;
            width: fit-content;
        }

    .banner-color {
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container.sitemap {
        padding-left: 15px !important;
    }

    #project .service-design-item:nth-child(3n+1) {
        margin-left: 0px;
    }

    #project .service-design .col-lg-3 {
        flex: 0 0 calc(33.33333333% - 10px);
        max-width: calc(33.3333333% - 10px);
    }
}

@media only screen and (max-width: 991px) {
    .service-design .service-design-item:nth-child(4n+1) {
        /* padding-left: 15px; */
    }


    .service-design .service-design-item:nth-child(3n+1) {
        /* padding-left: 0px; */
    }

    .service-design .service-design-item:nth-child(3n) {
        /* padding-right: 0px; */
    }
}

@media only screen and (max-width: 767px) {
    #design-category .design-item {
        display: inline-block;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .banner {
        height: 15vw;
    }

    #project .service-design .col-md-4 {
        -ms-flex: 0 0 calc(33.333333% - 20px);
        flex: 0 0 calc(33.333333% - 20px);
        max-width: calc(33.333333% - 20px);
    }

    .multiple-img {
        width: 100%;
        margin: auto;
    }

    .service-design .service-design-item:nth-child(3n+1) {
        /* padding-left: 15px; */
    }


    .service-design .service-design-item:nth-child(2n+1) {
        /* padding-left: 0px; */
    }

    .service-design .service-design-item:nth-child(2n) {
        /* padding-right: 0px; */
    }

    #design-category .design-item {
        padding: 0px 0px 20px 0px;
    }
}

@media only screen and (max-width: 575px) {
    #project .service-design .col-sm-6 {
        -ms-flex: 0 0 calc(50% - 10px);
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    .banner {
        height: 100px;
    }

    .service-design-item {
        padding: 0px !important;
    }

    div.k-window {
        position: fixed !important;
        width: calc(100vw - 40px) !important;
        height: calc(100vh - 100px) !important;
        top: 20px !important;
        left: 20px !important;
    }

    #project .service-design-item:nth-child(3n+1) {
        margin-left: 15px;
    }

    #project .service-design-item:nth-child(2n+1) {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 400px) {
    .service-design .col-sm-6 {
        padding: 0px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.banner-color h1 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-family: 'FS PF BeauSans Pro';
    color: #FFFFFF;
    margin: auto;
}
.banner-title {
    height: calc(100% - 24px);
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 576px) {
    .banner-title {
        height: 100%;        
    }
    .banner-color h1 {
        font-size: 25px;
    }
}
#serviceID .service-design-item,
#design .service-design-item {
    aspect-ratio: unset;
}
    #serviceID .service-design-item img,
    #design .service-design-item img {
        height: auto;
        aspect-ratio: 311/256;
    }
.news-detail-slider a.slick-slide img{
    height: auto !important;
    aspect-ratio: 4/3;
}
@-moz-document url-prefix() {
    .form-register .col-md-6 {
        margin-bottom: 15px;
    }
}
.banner-home .slick-arrow {
    display: none !important;
}
/* css tong hop */

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../css/fonts/FS-PFBeauSansPro-Regular.ttf') format('truetype');
}

.one-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipse;
    overflow: hidden;
}

.two-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipse;
    overflow: hidden;
}

.three-line {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipse;
    overflow: hidden;
}

#news a:hover {
    text-decoration: none;
    color: none;
}

.view-list a {
    color: none;
    text-decoration: none;
}

.view-list .item-title {
    color: #000000;
    height: 30px;
}

    .view-list .item-title h5 {
        font-size: 18px;
        font-weight: 700;
        color: black;
        line-height: unset;
    }

.view-list .big-category {
    height: 36px;
}

.row {
    margin: 0;
}
/* css PAGE CONTACT */
.content-title {
    padding: 30px 0;
}

    .content-title .text-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
    }

.content-decription {
    margin-bottom: 25px;
}

    .content-decription p {
        font-weight: 400;
        font-size: 16px;
        color: #000;
        font-family: Sarabun;
    }

.height-table-fixed {
    font-family: Sarabun;
}

.content-table {
    border-radius: 15px;
    border: 1px solid #DCBFBF;
    font-family: Sarabun !important;
}

    .content-table * {
        font-family: Sarabun !important;
    }

    .content-table .table-title {
        background-color: #FF0037;
        color: white;
        border-radius: 15px 15px 0 0;
    }

        .content-table .table-title .item-title {
            line-height: 20px;
            padding: 20px 0;
            text-align: center;
            border-right: 1px solid #DCBFBF;
        }

            .content-table .table-title .item-title:last-child {
                border-right: unset;
            }

    .content-table .item-decription {
        padding: 20px 0;
        border-right: 1px solid #DCBFBF;
    }

        .content-table .item-decription:last-child {
            border-right: unset;
        }

    .content-table .table-decription {
        border-bottom: 1px solid #DCBFBF;
    }

        .content-table .table-decription:last-child {
            border-radius: 0 0 15px 15px;
            border-bottom: unset;
        }

        .content-table .table-decription .item-CNKT, .content-table .table-decription .item-ADD {
            padding-left: 18px;
        }

    .content-table .item-STT {
        text-align: center;
    }

    .content-table .item-SDT {
        text-align: center;
    }
/* CSS quản lý chất lượng */
.view-list .item-title h3 {
    font-family: FS PF BeauSans Pro;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 18px;
    /*line-height: 140.5%;*/
    color: #000000;
}

.view-list .item-create-time h4 {
    color: #8C8C8C;
    font-weight: 700;
    font-size: 16px;
}

.view-list .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-content {
    color: #000000;
}

    .big-content .big-img-news img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
    }

.big-content {
    margin-bottom: 30px;
}

    .big-content .big-img-news {
        margin-bottom: 30px;
    }

    .big-content .big-decription {
        margin: 14px 0;
    }

    .big-content .big-title p {
        font-size: 18px;
        font-weight: 700;
        line-height: 34px;
        color: #444940;
    }

.view-list .item {
    margin-bottom: 30px;
    width: 100%;
}

.view-list .item-image {
    aspect-ratio: 4/3;
    margin-bottom: 20px;
}

.content-detail .big-category p {
    font-family: 'FS PF BeauSans Pro';
    color: #EE0033;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
}

.news-nav .menu {
    display: inline-block;
    width: 100%;
}

.news-nav ul {
    margin-bottom: 0;
}

.news-nav .menu li {
    font-weight: 400;
    font-size: 18px;
    /* margin-right: 10%; */
    display: inline-block;
    padding: 20px 0;
}

    .news-nav .menu li a {
        text-decoration: none;
        color: black;
    }
/* .news-nav{
    background-color: #F2F2F2;
    padding: 0 7.3%;
} */
.news-nav .active {
    border-bottom: 2px solid #EE0033;
}

.news-nav .menu .active a {
    color: #EE0033;
    font-weight: 700;
}

.footer {
    color: #FFFFFF;
}

    .footer .contact {
        border: 1px solid rgba(251, 253, 255, 0.25);
    }
/* css news detail  */
.title-news-detail h1 {
    font-family: FS PF BeauSans Pro !important;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
}

.title-news-detail p {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: #8C8C8C;
    margin: 20px 0 30px 0;
}

.detail-body image {
    width: 100%;
}

.news-relate h2 {
    color: #EE0033;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
    text-transform: uppercase;
}

.news-detail-slider img {
    width: 100%;
    object-fit: cover;
}

.news-detail-slider .item {
    max-width: 100%;
    padding: 0 10px;
}

.news-detail-slider p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.news-detail-slider .title-item {
    height: 30px;
}

.news-detail-slider a:hover {
    text-decoration: none;
    color: none;
}

.news-detail-slider .title-item {
    color: #000000;
}

.news-detail-slider .create-time {
    color: #8C8C8C;
    font-size: 16px;
}

.news-detail-slider .category-item {
    color: #EE0033;
    font-size: 18px;
    margin-top: 10px;
    height: 25px;
}

/*.news-detail-slider .slick-arrow {
    display: none !important;
}*/

.news-detail-slider {
    margin-bottom: 50px;
}

/* news nav css */
.news-nav {
    padding: 0 7.3%;
}

    .news-nav ul li {
        margin-right: 10%;
    }

        .news-nav ul li:last-child {
            margin-right: unset;
        }
/* css footer */
#footer {
    position: relative;
}

.footer {
    background-image: url(image/image-footer.html);
    background-repeat: no-repeat;
    padding-top: 40px;
    font-family: Sarabun;
}

    .footer h6 {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        font-family: Sarabun !important;
        color: #FFFFFF;
        font-family: Sarabun;
    }

        .footer h6 a {
            font-size: 16px;
            line-height: 25px;
            font-weight: 400;
            color: #FFFFFF;
        }

.bg-linear-footer {
    width: 100%;
    height: 100%;
    background-color: #C5002A;
    opacity: 84%;
    position: absolute;
}

.text-logo {
    padding: 25px 0;
    padding-bottom: 10px;
}

.box-logo-footer {
    border-bottom: 1px solid rgba(251, 253, 255, 0.25);
    padding-bottom: 10px;
}

.icon-footer {
    width: 15px;
    margin-right: 15px;
    height: 15px;
}

    .icon-footer img {
        max-width: 100%;
        max-height: 100%;
    }

.text-contact-footer {
    width: calc(100% -25px);
    font-family: Sarabun;
}

.contact-footer .item {
    margin-bottom: 15px;
}

.copyright-footer {
    padding: 15px 0 5px 0;
    width: 100%;
    font-size: 15px;
    border-top: 1px solid rgba(251, 253, 255, 0.25);
}

    .copyright-footer h6 {
        font-size: 15px;
    }

.box-logo-footer .content-footer {
    text-align: center;
}

.logo-footer img {
    max-width: 100%;
}



#FengShui a:hover {
    text-decoration: none;
}

.isa_success {
    background-color: #DFF2BF;
    color: green;
    position: fixed;
    top: 10px;
    right: 40px;
    opacity: 0;
    display: none;
}

    .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
        margin: 10px 22px;
        font-size: 2em;
        vertical-align: middle;
    }

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding: 12px;
}
/* css register content */
#register {
    padding: 50px 22px;
    margin-top: 50px;
    background-image: url('../images/registe-bg.jpg');
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 100% 100%;
    margin-top: 50px;
}

    #register .text-register {
        padding: 0 10px;
        text-transform: uppercase;
        display: flex;
    }

        #register .text-register p {
            margin: auto 0;
            font-family: Sarabun !important;
        }

.text-register h2 {
    color: #EE0033;
    font-weight: 700;
    font-size: 27px;
    line-height: 44px;
    font-family: FS PF BeauSans Pro !important;
    margin: auto;
}

.register-city .k-combobox {
    border-width: 1px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

#register input {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    width: 100%;
    height: 60px;
    font-family: Sarabun;
}

#register .register-button {
    display: flex;
    justify-content: center;
}

    #register .register-button input {
        padding: 0 50px;
        font-size: 18px;
        width: unset;
        border: none;
        font-weight: 400;
        outline: none;
        height: 60px;
        font-family: FS PF BeauSans Pro !important;
    }

.input-full {
    margin-bottom: 15px;
}

.icon-city {
    padding: 0 15px;
    width: 45px;
    margin: auto 0;
}

.city-input {
    width: calc(100% - 45px);
}

.register-content {
    width: 100%;
    height: 172px;
    margin-bottom: 20px;
    padding: 15px;
    outline: unset;
    border: 1px solid black;
}

.hotline-register {
    margin-top: 15px;
}

.register-but {
    background-color: #EE0033;
    text-align: center;
    color: white;
    padding: 15px 0;
}

    .register-but p {
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
    }

.form-register a {
    text-decoration: none;
}

.row > .hotline-register:first-child {
    margin-right: 15px;
}

.row > .hotline-register:last-child {
    margin-left: 15px;
}

.hotline-register {
    max-width: calc(50% - 15px);
    background-color: white;
    padding: 35px 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 3px rgba(218, 0, 38, 0.05);
    border-radius: 5px;
    border: 1px solid black;
}

/*#frmOrder > div:first-child {
    padding-left: 0px;
}

#frmOrder > div:last-child {
    padding-right: 0px;
}*/

.register-city {
    padding-right: 0px;
}

.image-register-hotline {
    width: 25%;
    padding: 0 10px;
}

    .image-register-hotline img {
        margin: auto;
        width: 50%;
        max-width: 82%;
        padding: -11px;
    }

.text-hotline-register {
    width: 75%;
}

    .text-hotline-register p {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #444940;
    }

    .text-hotline-register .title-hotline {
        font-weight: 700;
    }

.height-table-fixed {
    margin-top: 50px;
    height: 900px;
    max-height: 900px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.button-login {
    cursor: pointer;
    z-index: 10000000;
}

ul#dropdownLANG {
    z-index: 1000000;
}
/* css reposive */
#register .but-register input {
    color: white;
    border: none;
}

.content {
    margin-bottom: 50px;
}

.register-city .k-dropdown-wrap .k-select, .k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-datetimepicker .k-select + .k-select, .k-animation-container .k-calendar-container, .k-list-container.k-state-border-right {
    height: 61px;
    padding-right: 10px;
}

.content-popup span.k-select {
    height: 41px !important;
}

.register-city .k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-column-menu .k-sprite {
    background-position: center;
    background-size: 100%;
    background-image: url(../images/icon/i-dropdown.png);
    margin-top: 15px;
}

.register-city .k-widget {
    width: calc(100% - 15px);
}
.home-popup .register-city .k-widget {
    width: calc(100%);
}

.product-service-header {
    margin-bottom: 50px;
}

#loginModalLabel .modal-content {
    width: 500px;
    margin: auto;
    padding: 30px;
}

.register-city .k-dropdown-wrap, .register-city .k-dropdown-wrap span {
    padding-left: 0px !important;
    border: unset !important;
    display: flex;
}

    .register-city .k-dropdown-wrap .k-icon {
        margin: auto;
    }

.register-city .k-autocomplete.k-state-hover, .k-autocomplete.k-state-focused, .k-picker-wrap.k-state-hover, .k-picker-wrap.k-state-focused, .k-numeric-wrap.k-state-hover, .k-numeric-wrap.k-state-focused, .k-dropdown-wrap.k-state-hover, .k-dropdown-wrap.k-state-focused {
    background-color: unset;
    /* border-color: #dadada; */
}

.register-city .k-state-hover > .k-select, .k-state-focused > .k-select {
    border: unset !important;
}

@media only screen and (max-width: 1600px) {
    .news-nav ul li {
        margin-right: 7%;
    }

    #register .text-register {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

        #register .text-register p {
            margin: auto;
            text-align: center;
        }

    .form-register {
        max-width: 100%;
        flex: 0 0 100%;
    }

    #register {
        padding: 25px 22px;
    }
}
/*css form login register*/
#loginModalLabel .nav-tabs {
    margin-bottom: 15px;
    border: unset;
}

    #loginModalLabel .nav-tabs .col-6 a {
        color: black;
        padding-bottom: 5px;
        font-size: 18px;
    }

        #loginModalLabel .nav-tabs .col-6 a:hover {
            color: black;
            text-decoration: none;
            border-bottom: 2px solid #EE0033;
        }

#loginModalLabel .btn-danger {
    color: #FFFFFF;
    background: #EE0033;
    font-size: 20px;
    line-height: 25px;
    padding: 15px 0;
    font-weight: 700;
}

.btn-primary:hover {
    color: #fff;
    background-color: #EE0033;
    border-color: #EE0033;
}

#loginModalLabel input {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    border: 0.5px solid #E8B7B7;
    outline: unset;
}

.home-popup {
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    z-index: 10010;
    background-image: url('../images/popup.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 25px 0 25px 20px;
    width: 705px;
    max-height: 90vh;
    max-width: 45vw;
}

    .home-popup .register-button {
        display: flex;
    }

        .home-popup .register-button.left{
            justify-content: flex-end;
        }
        .home-popup .register-button.right {
            justify-content: flex-start;
        }

    .home-popup form {
        width: 95%;
    }

    .home-popup .col-sm-12, .home-popup .col-md-6 {
        padding: 5px;
    }

    .home-popup input {
        padding-left: 15px;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        width: 100%;
        height: 60px;
        font-family: Sarabun;
        border: 1px solid black;
    }

    .home-popup input,
    .home-popup textarea {
        border: none;
        outline: none;
    }

    .home-popup .but-register {
        padding-left: 5px;
        padding-right: 5px;
    }

    .home-popup .register-but {
        float: right;
        border: unset;
        height: 77px;
        width: 304px;
       /* transform: scale(0.87);
        -webkit-transform: scale(0.87);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;*/
    }

.title-popup {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    text-align:center;
}

.content-popup {
    max-width: 55.57%;
    width: 55.57%;
}

.bg-one-load {
    z-index: 1000;
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 1600px) {
    .text-hotline-register p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1400px) {
    .copyright-footer p {
        text-align: center !important;
    }
}

@media only screen and (max-width: 1200px) {
    .home-popup{
        max-width: 90vw;
    }
    .home-popup form {
        width: 95%;
    }
}

@media only screen and (max-width: 992px) {
    .news-nav ul li {
        margin-right: 3%;
        text-align: center;
    }

    .register-city {
        padding-left: 15px;
    }

    .image-register-hotline {
        padding: 0 20px;
    }

    .row > .hotline-register:first-child {
        margin-right: 0%;
    }

    .row > .hotline-register:last-child {
        margin-left: 0%;
    }

    .hotline-register {
        max-width: 100%;
    }

    .text-hotline-register p {
        font-size: 18px;
    }

    .copyright-footer p {
        text-align: center;
    }

    .home-popup {
        padding: 20px 0 20px 20px;
    }

        .home-popup .register-city {
            margin-top: 0px;
        }
}

@media only screen and (max-width: 767px) {
    .home-popup .register-button.left,
    .home-popup .register-button.right {
        justify-content: center;
    }

    .news-nav ul li {
        margin-right: 0%;
        width: 50%;
        margin: auto 0;
    }

    .news-nav .menu {
        display: flex;
    }

    #contact .col-8 {
        padding: 0;
    }

    .box-logo-footer .content-footer {
        text-align: left;
    }

    /*#frmOrder > div:last-child {
        padding-left: 0px;
        margin-top: 30px;
    }*/

    .logo-footer {
        display: flex;
    }

        .logo-footer img {
            margin: auto;
        }

    .register-city {
        margin-bottom: 23px;
    }
    .home-popup .register-city {
        margin-bottom: 0;
    }
    .home-popup input {
        font-size: 16px;
        height: 40px;
    }

    .popup-register input.k-input {
        height: 38px;
        font-size: 16px;
    }

    .home-popup span.k-select {
        height: 38px !important;
    }

    .home-popup .register-content {
        height: 80px;
        margin-top: 8px;
    }

    .home-popup {
        overflow: auto;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%,50%);
        width: 90vw;
        height: 85vh;
    }

    .order-m767-1 {
        order: 1;
    }

    .order-m767-2 {
        order: 2;
    }
}

@media only screen and (max-width: 576px) {
    .news-nav ul li {
        margin-right: 0%;
        width: 100%;
        display: block;
    }

    .home-popup {
        background-image: url('../images/popupmobile.png');
    }

    .news-nav .menu {
        display: unset;
    }

    .news-nav .active {
        border-bottom: unset;
    }

    .image-register-hotline {
        display: none;
    }

    .text-hotline-register {
        width: 100%;
    }

    .hotline-register {
        padding: 20px 20px;
    }

    .home-popup {
        padding: 20px 0 20px 20px;
    }

    .title-popup {
        font-size: 25px;
        line-height: 30px;
    }

    .content-popup {
        max-width: calc(100% - 20px);
        width: calc(100% - 20px);
    }

    .home-popup {
        height: 450px;
    }
}

.footer-text .icon-footer {
    display: none;
}


.popup-register .register-city .k-dropdown-wrap .k-select,
.home-popup input,
.popup-register input.k-input {
    height: 40px;
}

.popup-register .register-content {
    height: 120px;
}

.downloadPDF {
    cursor: pointer;
}
